TELEGRAM_BOT_TOKEN=your_bot_token_from_BotFather

GOOGLE_APPLICATION_CREDENTIALS=./service-account.json

SPREADSHEET_ID=first_sheet_id
SPREADSHEET_ID_2=second_sheet_id

# Optional: Google Form links shown in welcome message (one per user)
GOOGLE_FORM_URL_01=https://docs.google.com/forms/d/e/xxxxx_olga/viewform
GOOGLE_FORM_URL_02=https://docs.google.com/forms/d/e/xxxxx_andrea/viewform
